body {
   background-color: white;
   display: flex;
   flex-direction: column;
}

@media (min-width: 768px) {
   body {
      flex-direction: row;
   }
}

.sidebar {
   width: 250px;
   height: 100vh;
   background: #E7E7E9;
   color: black;
   transition: width 0.3s;
}

.sidebar.collapsed {
   width: 80px;
}

.sidebar .nav-link {
   color: #424242;
}

.sidebar .nav-link .icon {
   margin-right: 10px;
}

.sidebar.collapsed .nav-link .label {
   display: none;
}

.sidebar.collapsed .nav-link {
   text-align: center;
}

.logo-nav {
   width: 45px;
   height: 45px;
}

.sidebar.collapsed .logo-nav {
   width: 30px;
   height: 30px;
}

.sidebar.collapsed .logo_name,
.sidebar.collapsed .icon-collapse {
   display: none;
}

.content {
   flex-grow: 1;
   padding: 20px;
}

.toggle-btn {
   position: absolute;
   top: 10px;
   left: 260px;
   cursor: pointer;
}

.sidebar.collapsed + .toggle-btn {
   left: 90px;
}

.content-collapse {
   margin-left: 10px;
   transition: margin-left 0.3s;
}

.collapse-div {
   background: #d3d3d3;
}

.sidebar.collapsed .content-collapse {
   margin-left: 0px;
}

/* Media Queries for Responsiveness */
@media (max-width: 767px) {
   .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      display: none;
   }

   .sidebar.collapsed {
      width: 100%;
      display: block;
   }

   .toggle-btn {
      left: 10px;
   }

   .sidebar.collapsed + .toggle-btn {
      left: 10px;
   }

   .sidebar.collapsed .nav-link {
      text-align: center;
   }

   .content {
      padding: 10px;
   }
}


/* paginacion */
/* custom.css */

/* Personaliza los enlaces de paginación */
.page-item.active .page-link {
    background-color: #007bff; /* Color de fondo del enlace activo */
    border-color: #007bff; /* Color del borde del enlace activo */
}

.page-link {
    color: #007bff; /* Color del texto del enlace */
}

.page-link:hover {
    color: #0056b3; /* Color del texto del enlace al pasar el ratón */
    background-color: #e9ecef; /* Color de fondo del enlace al pasar el ratón */
    border-color: #dee2e6; /* Color del borde del enlace al pasar el ratón */
}

.page-item.disabled .page-link {
    color: #6c757d; /* Color del texto del enlace deshabilitado */
    background-color: #fff; /* Color de fondo del enlace deshabilitado */
    border-color: #dee2e6; /* Color del borde del enlace deshabilitado */
}