body {
   background-color: white;
   display: flex;
   flex-direction: column;
}

.sidebar {
   width: 250px;
   height: 100vh;
   background: #E7E7E9;
   color: black;
   transition: width 0.4s;
   overflow: hidden; /* Oculta el contenido durante la transición */
}

.sidebar.collapsed {
   width: 80px;
   transition: width 0.4s;
}

.sidebar .nav-link {
   color: #424242;
   display: flex;
   align-items: center;
   
}

.sidebar .nav-link .icon {
   margin-right: 10px;
}

.sidebar.collapsed .logo_name {
   display: none;
}

.sidebar.collapsed .nav-link {
   text-align: center;
   justify-content: center;
}

.sidebar.collapsed .label,
.sidebar.collapsed .logo_name,
.sidebar.collapsed .icon-collapse {
   display: none;
}

.logo-nav {
   width: 30px;
   height: 30px;
   transition: width 0.3s, height 0.3s;
}

.sidebar.collapsed .logo-nav {
   width: 30px;
   height: 30px;
}

.content {
   flex-grow: 1;
   padding: 20px;
   transition: margin-left 0.3s;
}

.toggle-btn {
   /* top: 10px;
   left: 260px;
   cursor: pointer;
   position: absolute; */
   /* justify-content: center; */
}

.sidebar.collapsed + .toggle-btn {
   /* left: 90px; */
}

.content-collapse {
   margin-left: 10px;
}

.sidebar.collapsed .content-collapse {
   margin-left: 0;
}

.collapse-div {
   background: #d3d3d3;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: #E7E7E9;
}

.footer-table {
   display: flex;
}

.sticky-bottom-form {
   position: absolute;
   bottom: 0;
   right: 0;
}

@media (min-width: 768px) {
   body {
      flex-direction: row;
   }
}


@media (max-width: 767px) {
   .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      display: none;
      transition: width 0.3s ease;
   }

   .sidebar.collapsed {
      width: 100%;
      display: block;
   }

   .toggle-btn {
      display: none !important;
   }

   .toggle-btn-mq {
      /* position: absolute; */
      display: block !important;
   }

   .sidebar.collapsed + .toggle-btn-mq {
      left: 10px;
   }

   .content {
      padding: 10px;
   }

   .footer {
      display: none;
   }

   .footer-table {
      display: block;
   }

   .pagination {
      display: flex;
      justify-content: center;
   }

   .sticky-bottom-form {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      
  }
   .sticky-bottom-form a,
   .sticky-bottom-form form {
      margin-left: 5px; 
   }
}
